[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
slack-bolt = "*"
slack-sdk = "*"
slackeventsapi = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
